@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#animated-title {
  text-align: center;
  /* font-size: 16rem; */
  line-height: 1;
}

#animated-title span {
  opacity: 0; /* start out transparent */
  display: inline-block; /* allows transformation */
  animation: fadeInTitle 750ms forwards; /* forwards keeps the end state after animation */
}

#animated-subtitle {
  opacity: 0;
  animation: fadeInLeft 1000ms forwards;
  animation-delay: 2s; /* Assuming the h1 animation takes a total of 1750ms */
}

.welcome-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 700px;
  width: 100%;
}

.welcome-container .headline-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
}

@media (max-width: 640px) {
  .welcome-container .headline-div {
    display: none;
  }
}

/* .welcome-container h1 {
  line-height: 1;
} */

/* .welcome-container h2 {
  text-align: center;
  font-size: 7rem;
  font-family: 'Barlow Condensed';
  font-weight: 300;
} */

/* .welcome-container h2 span {
  font-size: 10rem;
} */

.welcome-image {
  width: 350px;
  height: 550px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInImage 750ms forwards;
  object-fit: cover;
}

.welcome-image-1 {
  animation-delay: 250ms;
  align-self: flex-start;
}
.welcome-image-2 {
  animation-delay: 750ms;
  align-self: center;
}
.welcome-image-3 {
  animation-delay: 1250ms;
} 
.welcome-image-4 {
  animation-delay: 1750ms;
  align-self: flex-end;
}
