@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  main {
    min-height: calc(100vh - 144px);
  }
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 0.8;
    /* the transform/translate property is unique for each image */
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#animated-title {
  text-align: center;
  line-height: 1;
}

#animated-title span {
  opacity: 0; /* start out transparent */
  display: inline-block; /* allows transformation */
  animation: fadeInTitle 750ms forwards; /* forwards keeps the end state after animation */
}

#animated-subtitle {
  opacity: 0;
  animation: fadeInLeft 1000ms forwards;
  animation-delay: 2s; /* Assuming the h1 animation takes a total of 1750ms */
}

.welcome-container {
  position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.welcome-container .headline-div {
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
}

.welcome-image {
  opacity: 0;
  animation: fadeInImage 750ms forwards;
  object-fit: cover;
}

.welcome-image-1 {
  animation-delay: 250ms;
  transform: translateY(10%);
}
.welcome-image-2 {
  animation-delay: 750ms;
  align-self: flex-start;
}
.welcome-image-3 {
  animation-delay: 1250ms;
  transform: translateY(30%);
} 
.welcome-image-4 {
  animation-delay: 1750ms;
  transform: translateY(20%);
}

footer {
  flex-shrink: 0;
}
